header {
    background-color: #333;
    color: white;
    padding: 1rem;
    text-align: center;
}   

ul{
    list-style: none;
    display: flex;
    gap: 1rem;
    justify-content: center;
    padding: 0;
}

a{
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}